@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styling */
@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
  }

  ::-webkit-scrollbar-thumb {
    background: #00FF99;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #00cc7a;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #00FF99 rgba(255, 255, 255, 0.05);
  }
}

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[40px] xl:text-[64px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[32px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #fff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
    transition: -webkit-text-stroke 0.3s ease;
  }
}
